*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input[type="checkbox"]{
    display: none;
}
body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%), linear-gradient(to bottom, rgba(0,0,0,0.02) 50%, rgba(255,255,255,0.02) 61%, rgba(0,0,0,0.02) 73%), linear-gradient(33deg, rgba(255,255,255,0.20) 0%, rgba(0,0,0,0.20) 100%);
    background-blend-mode: normal,color-burn;
}
.login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: inline-block;
    width: 120px;
    height: 50px;
    font-size: 18px;
    border-radius: 10px;
    text-align: center;
    align-content: center;
    background-color: rgb(13, 189, 130);
    color: #fff;
    box-shadow: 0 8px 4px rgba(0, 0, 0, 0.4);
    font-weight: bold;
}
.login:hover{
    background-color: rgb(24, 141, 102);
}
#modal-input:checked ~ .modal-bg{
    display: flex;
}
.modal-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    display: none;
}
.modal{
    width: 500px;
    height: 400px;
    background-color: #f7f7f7;
    border-radius: 10px;
    overflow: hidden;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-top: 8px solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.modal-top{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
h2{
    margin-bottom: 10px;
}

.close{
    display: inline-block;
    text-align: center;
    align-content: center;
    color: #000;
    font-size: 20px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
    cursor: pointer;
}
.input-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input{
    height: 35px;
    padding: 10px;
}
.btn-container{
    text-align: center;
}
button{
    width: 80px;
    height: 30px;
}