*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
body{
    background-color: #eee;
}
h1{
    margin: 25px auto;
    text-align: center;
}
.notice{
    margin: 0 auto;
    width: 600px;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.notice li{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    padding: 10px;
}
.notice li:not(:last-child){
    border-bottom: 1px #eee solid;
}
.notice li::before{
    text-align: center;
    align-content: center;
    width: 60px;
    height: 25px;
    color: #fff;
    border-radius: 50px;
    font-size: 12px;
}
.ip::before{
    content: "중요";
    background-color: rgb(236, 82, 82);
}
.no::before{
    content: "공지";
    background-color: rgb(57, 57, 224);
}
.gu::before{
    content: "안내";
    background-color: rgb(57, 57, 224);
}